:root {
    --gradient-custom: linear-gradient(to right, #575c63, #05193730, #05193700, #05193730, #6a7077);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #edfeeb;
    font-weight: 500;
    font-size: 160%;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-family: "lato", sans-serif;
    margin: 0 auto;
    background-image: var(--gradient-custom);
}

p {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

header {
    background-image: url(./kuvat/Foggy2.webp);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    margin: 0 auto;
}

header .frame-nav {
    background-image: url(./kuvat/beamtext.png);
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

header nav {
    background-image: var(--gradient-custom);
    height: 100px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    color: white;
    display: inline;
    padding-right: 50px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

#logo-container img {
    height: 150px;
    width: 150px;

}

main {
    max-width: 70%;
    margin: 100px 400px 100px 400px;
}

.media {
    flex: 40%;
}

.media img {
    width: 100%;
    height: 100%;
}

.text {
    flex: 50%;
}

main h1 {
    line-height: 1.5em;
    font-weight: 900;
    letter-spacing: 0.08em;
    text-align: center;
}

#slogan {
    font-weight: 700;
    text-align: center;
    text-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.line div {
    width: 1300px;
    height: 5px;
    background-color: #051937;
}

.media-and-text {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin-bottom: 100px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: -90px;
}

.gallery div {
    flex: 50%;
    overflow: hidden;
}

.gallery div img {
    height: 100%;
    width: 100%;
}


footer {
    color: white;
    background-color: #051937;
    height: 200px;
    display: flex;
}

footer p {
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}



/* mediaqueryt */
@media only screen and (max-width: 1600px) {
    main {
        max-width: 80%;
        margin: 100px 150px 100px 150px;
    }

    footer p {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 1300px) {
    main {
        max-width: 90%;
        margin: 50px 100px 50px 100px;
    }
    .media-and-text {
        flex-direction: column;
        margin-bottom: 50px;

    }

    .gallery {
        flex-direction: column;
    }

    header .frame-nav {
        padding-right: 50px;
    }

    header nav ul li {
        padding-right: 10px;
    }
    footer {
        margin-top: 100px;
    }
    footer p {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 700px) {
    main {
        max-width: 90%;
        margin: 50px 50px 50px 50px;
    }
    footer {
        margin-top: 100px;
    }
    footer p {
        margin-left: 50px;
    }
    header {
        height: 500px;
    }
}
