/*Esittely*/
.esittely-container {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 50px 150px;
    flex-direction: row;
}

.esittely-container .leftImage {
    flex: 30%;
    height: 100%;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 100px;
}

.esittely-container .leftImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.esittely-container .rightContent {
    flex: 40%;
    height: 100%;
    text-wrap: wrap;
    font-weight: 600;
    margin-top: -10px;
}

.esittely-container .rightContent h2 {
    color: #f305ab;
}

.esittely-container .rightContent p {
    width: 100%;
    font-size: 19px;
}

#soita {
    border: 2px solid #f305ab;
    width: 180px;
    text-align: center;
    color: white;
    background-color: #f305ab;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    text-overflow: hidden;
    transition: all 0.3s ease;
}

#soita:hover {
    font-size: 25px;
    background-color: white;
    color: #f305ab;
    transform: scale(1.05);
}

.kiinnostusta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    margin: 0px 0px 50px 250px;
}

.kiinnostusta h1 {
    color: #f305ab;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.2em;
}

.kiinnostusta ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
}

@media only screen and (max-width: 1300px) {
    .esittely-container {
        width: 90%;
        margin: 50px 50px 50px 80px;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1200px) {

    .esittely-container {
        flex-direction: column;
        height: auto;
        margin: 50px 50px;
    }

    .esittely-container .leftImage {
        flex: none;
        height: 40%;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .esittely-container .leftImage img {
        height: 100%;
    }

    .esittely-container .rightContent {
        flex: none;
        width: 100%;
        margin-top: 0;
        text-align: center;
        font-size: 16px;
    }

    #callBtn {
        font-size: 18px;
        padding: 8px 16px;
        width: 60%;
        margin: 20px auto 0 auto;
        display: block;
    }

}

@media only screen and (max-width: 1200px) {
    .kiinnostusta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        margin: 0px 0px 50px 50px;
    }
}