/*slideshow*/
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintains image proportions */
}

.slideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: auto;
    color: white;
    text-align: center;
}

.slidePara {
    font-size: 20px;
}

.slidePara,
h2 {
    margin-bottom: -5px;
}

.slideText h1 {
    text-transform: uppercase;
    line-height: 1em;
    font-size: 22px;
}

#quote {
    font-size: 25px;
}

.soita {
    margin-top: 20px;
    border: 2px solid #f305ab;
    width: 180px;
    text-align: center;
    color: white;
    background-color: #f305ab;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    text-overflow: hidden;
    transition: all 0.3s ease;
}

.soita:hover {
    font-size: 25px;
    background-color: white;
    color: #f305ab;
    transform: scale(1.05);
}

.dot {
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -30px;
    /* Adjust positioning relative to slideshow */
}

.active {
    background-color: #f305ab;
    ;
}

#homepageText {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 400px;
    flex-direction: column;
    margin: -20px 200px 0px 200px;
    color: #f305ab
}

#homepageText h1 {
    text-wrap: nowrap;
    font-size: 50px;
}

#homepageText p {
    text-align: center;
    padding-bottom: 20px;
}

#palvelutLink {
    border: 2px solid #f305ab;
    width: 200px;
    text-align: center;
    color: white;
    background-color: #f305ab;
    padding: 20px;
    border-radius: 50px;
    font-size: 15px;
    text-overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    #homepageText {
        max-width: 90%;
        margin: -20px 20px 0px 30px;
    }

    #homepageText h1 {
        text-wrap: wrap;
        line-height: 1em;
        text-align: center;
    }
}