/*Palvelut*/

#RatkaisukeskeinenTerapi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    max-height: 80vh;
    margin: 0px 120px 50px 120px;
    gap: 50px;
    overflow: hidden;
}
#Sielunhoito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    max-height: 60vh;
    margin: 0px 120px 50px 120px;
    gap: 50px;
    overflow: hidden;
}
.ratkaisImage {
    flex: 30%;
    overflow: hidden;
}
.ratkaisImage img {
    width: 100%;
    height: 100%;
}
.ratkaisText {
    flex: 30%;
}
.ratkaisText h1,.sielunText h1 {
    color:#f305ab;
}
.sielunImage {
    flex: 30%;
    overflow: hidden;
}
.sielunImage img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.sielunText {
    flex: 30%;
}

.palvelut-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
}
.card {
    position: relative;
    overflow: hidden;
    width: 100%; /* Adjust as needed */
}
.cardTop {
    height: 350px;
    transition: transform 0.3s ease;
}
.cardBottom {
    height: 100px;
    background-color: hsl(0, 3%, 87%);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color:#f305ab;; 
    opacity: 0.7; 
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card h3 {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    text-align: center;
    z-index: 2; 
    margin-top: -40px;
}
.colorLine {
    width: 70px;
    height: 3px;
    background-color:#f305ab;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}
.cardBottom table {
    font-size: 15px;
    font-weight: 600;
}
.cardBottom .time,.cardBottom .gap,.cardBottom .price {
    width: 30px;
    text-wrap: nowrap;
    
}
.infoTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-wrap: nowrap;
    font-size: 20px;
    width: 100%;
}
.infoTxt h3 {
    color:#f305ab;
    text-align: center;
}
.hannaInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    max-height: 70vh;
    margin: 50px 120px 50px 250px;
    gap: 50px;
    overflow: hidden;
}
.hannaImage {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    flex: 40%;
    overflow: hidden;
}
.hannaImage img {
    width: 100%;
    height: 100%;
}
.hannaTxt {
    flex: 40%;
    margin-top: -50px;
}
.hannaTxt h1,.hannaTxt a  {
    color:#f305ab;
}

@media only screen and (max-width: 1024px) {
    #RatkaisukeskeinenTerapi, #Sielunhoito, .hannaInfo {
    width: 90%;
    margin: 0px 20px 50px 50px;
    gap: 20px;
    }
}
@media only screen and (max-width: 950px) {
    #RatkaisukeskeinenTerapi, #Sielunhoito {
    width: 90%;
    max-height: 100vh;
    flex-direction: column;
    margin-left:30px;
    }
    .ratkaisImage {
        flex: 50%;
        height: 500px;
        overflow: hidden;
        max-height: 100vh;
    }
    .ratkaisImage img {
        width: 100%;
        height: 100%;
    }
    .ratkaisText {
        flex: 30%;
    }
    .hannaImage {
        margin-left: 5px;
    }
    .hannaTxt h1 {
        line-height: 1em;
    }
    .hannaInfo {
        margin-top: 50px;
    }
}



@media only screen and (max-width: 768px) {
    
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card img {
        height: 120px;
    }
}